[Unit]
Description=RathamCloud VPS Management Bot
After=network.target

[Service]
User=root
WorkingDirectory=/opt/rathamcloud-bot
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
EnvironmentFile=/opt/rathamcloud-bot/.env
ExecStart=/opt/rathamcloud-bot/venv/bin/python3 main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
